# =========================
# Build
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# Rider
# =========================
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Publish
# =========================
publish/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store